<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">
            <h2>Detail Contact</h2>
            <% if (!contact) { %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>  <a href="/contact" class="alert-link">Kembali ke halaman contact...</a>
                </div>
            <% } else { %>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title"><%= contact.nama %></h5>
                  <h6 class="card-subtitle mb-2 text-muted"><%= contact.telp %></h6>
                  <p class="card-text"><%= contact.email %></p>
                  <a href="/contact/edit/<%= contact.nama %>" class="mb-3 btn btn-warning btn-sm"><i class="fa-solid fa-pen-to-square"></i> Edit</a> 
                  <a href="/contact/delete/<%= contact.nama %>" class="mb-3 btn btn-danger btn-sm" onclick="return confirm('Yakin ingin menghapus data ini?')"><i class="fa-solid fa-trash"></i> Delete</a> 
                  <a href="/contact" class="card-link d-block">&laquo; Kembali ke halaman contact</a>
                </div>
            </div>
            <% } %> 
        </div>
    </div>
</div>